<!DOCTYPE html>
<html>
<head>
	<title>Admin Form Success</title>
	<link rel="stylesheet" type="text/css" href="assets/admin.css">
</head>
<body>
<header><h1>Success!</h1></header>

<p>Thanks for submitting the form</p>
<br><br>
<p>Name: <%=data.name%></p>
<p>Phone: <%=data.phone%></p>

<p>Email: <%=data.email%></p>

<p>About: <%=data.about%></p>

<p>File: <%=data.file%></p>

<p>Update: <%=data.update%></p>


</body>
</html>
